<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee registration form</title>
<link href="css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="css/style.css" rel="stylesheet" >
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.min.js"></script>
</head>
<body>
	<div class="container register">
                <div class="row">
                    <div class="col-md-3 register-left">
                        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                        <h3>Welcome</h3>
                        <p>You are 30 seconds away from earning your own money!</p>
                        <input type="submit" name="" value="Login"/><br/>
                    </div>
                    <div class="col-md-9 register-right">
                        <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Employee</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3 class="register-heading">Apply as a Employee</h3>
                                <form action="reg" method="post">
                                    <div class="row register-form">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="First Name *" name="fname" value="" />
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Last Name *" name="lname" value="" />
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control" placeholder="Password *" name="pass" value="" />
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control"  placeholder="Confirm Password *" name="cpass" value="" />
                                            </div>
                                            <div class="form-group">
                                                <div class="maxl">
                                                    <label class="radio inline"> 
                                                        <input type="radio" name="gender" value="male" checked>
                                                        <span> Male </span> 
                                                    </label>
                                                    <label class="radio inline"> 
                                                        <input type="radio" name="gender" value="female">
                                                        <span>Female </span> 
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="email" class="form-control" placeholder="Your Email *" name="email" value="" />
                                            </div>
                                            <div class="form-group">
                                                <input type="text" minlength="10" maxlength="10" name="phone" class="form-control" placeholder="Your Phone *" value="" />
                                            </div>
                                            <div class="form-group">
                                                <select class="form-control" name="sec">
                                                    <option class="hidden"  selected disabled>Please select your Sequrity Question</option>
                                                    <option>What is your Birthdate?</option>
                                                    <option>What is Your old Phone Number</option>
                                                    <option>What is your Pet Name?</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Enter Your Answer *"  name="secans" value="" />
                                            </div>
                                            <input type="submit" class="btnRegister"  value="Register"/>
                                        </div>
                                    </div>
                            </div>
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            	 </form>
                                <form action="getemp" method="get">
                                	<div class="col-md-6">
                                		<div class="form-group">
                                    		<input type="text" class="form-control" placeholder="Enter Your employeeId to get your details"  name="id" value="" />
                                    		<input type="submit" class="btnRegister"  value="FindById"/>
                                    	</div>
                                	</div>
                                </form>
                                <div style="padding:40px;">
                                	<form action="delemp" method="get">
                                	<div class="col-md-6">
                                		<div class="form-group">
                                    		<input type="text" class="form-control" placeholder="Enter employeeId to delete details"  name="id" value="" />
                                    		<input type="submit" class="btnRegister"  value="deleteById"/>
                                    	</div>
                                	</div>
                                </form>
                                </div>
                                
                                <form action="getallemp" method="get">
                                	<div class="col-md-7">
                                		<div class="form-group">
                                    		<input type="submit" class="btnRegister"  value="GetAllEmloyees details"/>
                                    	</div>
                                	</div>
                                </form>
                                <form action="updateemppage" method="get">
                                	<div class="col-md-7">
                                		<div class="form-group">
                                    		<input type="submit" class="btnRegister"  value="update Emloyees details"/>
                                    	</div>
                                	</div>
                                </form>
                            </div>
                           
                        </div>
                    </div>
                </div>

            </div>

</body>
</html>